<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo--><a class="brand-logo" >
      <img src="/assets/images/icons/tridhya.png" alt="brand-logo" />
      <h2 class="brand-text text-primary ml-1">Tridhya Tech</h2></a
    >
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class=" d-lg-flex col-lg-8 align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img
          class="img-fluid"
          src="
            /assets/images/pages/login-v2-dark.svg

          "
          alt="Login V2"
        />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Login-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Welcome to Tridhya tech! 👋</h2>
        <p class="card-text mb-2">Please sign-in to your account and start the adventure</p>
      

        <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="form-label" for="login-email">Email</label>
            <input
              type="text"
              formControlName="company_email"
              class="form-control"
              placeholder="admin@demo.com"
              aria-describedby="login-email"
              autofocus=""
              tabindex="1"
            />
            <small *ngIf="
                  isFormValid == true ||
                  (!f.company_email?.valid && (f.company_email?.dirty || f.company_email?.touched))
                ">
                <small [hidden]="!f.company_email?.errors?.['required']" class="form-text">
                  Email is Required *</small>
                <small [hidden]="!f.company_email?.errors?.['company_email']" class="form-text">Invalid Email Id.</small>
              </small>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="login-password">Password</label
              >
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                [type]="passwordTextType ? 'text' : 'password'"
                formControlName="password"
                class="form-control form-control-merge"
                placeholder="············"
                aria-describedby="login-password"
                tabindex="2"
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                    (click)="togglePasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <small *ngIf="
            isFormValid == true ||
            (!f.password?.valid &&
              (f.password?.dirty || f.password?.touched))
          ">
          <small [hidden]="!f.password?.errors?.['required']" class="form-text">
            Password is Required *
          </small>
        </small>
          </div>
        
          <button  class="btn btn-primary btn-block" tabindex="4" rippleEffect>
            <span  class=" mr-1"></span>Sign in
          </button>
        </form>
      
      
      </div>
    </div>
    <!-- /Login-->
  </div>
</div>
