


 
  <!-- Button trigger modal -->
  <button type="button" (click)="modalOpen(modalBasic)" class="btn btn-primary " rippleEffect>
    <span>+ </span><span class="d-none d-sm-inline-block">Add New Query</span>
  </button>

  <!-- Modal -->
  <ng-template #modalBasic let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel1">Ask Your Query</h4>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
   
                <form [formGroup]="queryForm" (ngSubmit)="onSubmit(queryForm.value)"novalidate>
                    <div class="form-group p-2">
                        <label for="title">Title</label>
                        <input type="text" name="title" placeholder="Title" class="form-control" formControlName="feedback_title">
                        <ng-container *ngIf="isFormValid || (!f?.feedback_title?.valid && (f?.feedback_title?.dirty || f?.feedback_title?.touched))">
                            <small class="form-text" [hidden]="!f?.feedback_title?.errors?.['required']">Feedback title is required *</small>
                        </ng-container>
                    </div>
                    <div class="form-group p-2">
                        <label for="description">Description</label>
                            <textarea placeholder="description" class="form-control" formControlName="feedback_description"></textarea>
                            <ng-container *ngIf="isFormValid || (!f?.feedback_description?.valid && (f?.feedback_description?.dirty || f?.feedback_description?.touched))">
                                <small class="form-text" [hidden]="!f?.feedback_description?.errors?.['required']">Feedback description is required *</small>
                            </ng-container>
                    </div>
                    <div class="form-group p-2">
                        <label for="feedback type">Feedback Type</label>
                        <select formControlName="feedback_type" class="form-control"> 
                            <option value="1">NETWORK</option>
                            <option value="2">HR</option>
                            <option value="3">HOUSE_KEEPING</option>
                            <option value="4">PMS_QUERY</option>
                            <option value="5">SALARY</option>
                            <ng-container *ngIf="isFormValid || (!f?.feedback_type?.valid && (f?.feedback_type?.dirty || f?.feedback_type?.touched))">
                                <small class="form-text" [hidden]="!f?.feedback_type?.errors?.['required']">Feedback Type is required *</small>
                            </ng-container>
                        </select>
                    </div>
                    <div class="form-group p-2">
                        <button  type="submit" class="btn btn-primary px-4" >Submit</button>
                        <button type="button" (click)="reset()" class="btn btn-secondary px-4 mx-4">Reset</button>
                    </div>
                </form>
            </div>
    

  </ng-template>
  <!-- / Modal -->


