label{
    font-size: 1.2rem;
}
.forgot-col{
  padding-top: 9.2rem;
  padding-bottom:5rem ;
}
h1{
    font-weight: 400;
}
p{
    font-weight: 400;
}
.backtologin{
    font-size: 1.2rem;
}
.card{
    box-shadow: none;
}